*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

/* --------------- BASE ELEMENT STYLES ----------------- */

body {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    background-color: #fff;
    color: rgba(65, 191, 63, 0.86);
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dotted rgba(65, 191, 63, 0.86);
}

main {
    max-width: 80%;
    text-align: center;
}

video,
audio,
.media {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* --------------- CLASS STYLES ----------------- */

.wrapper {
    background-color: rgba(65, 191, 63, 0.86);
    padding-top: 30px;
    padding-bottom: 30px;
}

.space {
    padding-top: 30px;
    padding-bottom: 30px;

    color: rgba(65, 191, 63, 0.86);
}
